
ObservableCollectionSample/obj/

ObservableCollectionSample.Android/obj/

ObservableCollectionSample.iOS/obj/

.vs/

ObservableCollectionSample/bin/

ObservableCollectionSample.iOS/bin/

ObservableCollectionSample.Android/bin/

.DS_Store
